<section class="profile profile__edit">
	<h2>Edit your Profile</h2>
	<div class="form__container">
		<%= render 'profileForm' %>
	</div>
	<div class="profile__edit--links">
		<%= link_to "Cancel", profile_path  %>
	</div>
</section>