<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

<% @profiles.each do |profile| %>
	<div class="profile_container">
		<h4>Member profile:</h4>
		<p>Name: <%= profile.first_name %> <%= profile.last_name %> </p>
		<p>City: <%= profile.city %> </p>
		<p>Bio: <%= profile.bio %> </p>
	</div>
<% end %>