// Colors
$primary: 		#FFC107;
$darkPrimary: 	#FFA000;
$lightPrimary:	#FFECB3;
$accent:		#4A4063;
$accentLight:	#79788a;
$text:			#2D2A32;
$bg:			#fdfcfd;
$gray:			#EEEEEE;
$red:			#D32F2F;
$white:			#FFFFFF;