// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600|Oswald);

$open:		'Open Sans', sans-serif;
$oswald:	'Oswald', sans-serif;

$copyFont:		$open;
$displayFont:	$oswald;

h1 {
	font-size: 1em;
}