// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book {
	.book__author,
	.book__description {
		font-family: $oswald;
	}

	.book__list {
		display: flex;
		flex-wrap: wrap;
		&--book {
			margin-top:20px;
			padding-bottom: 75px;
		}
	}

	.book__link {
		position: absolute;
		bottom: 0;
	}

	.book__links {
		@include linkBar;
		
	}
	
	&.book__new {
		.book__links {
			@include grid-column(6, $center:true);
			padding-left: 0;
			padding-right: 0;
		}
	}

	.book__author,
	.book__description {
		font-weight: 600;
	}
}