// Place all the styles related to the book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.book {

	&.book__index {
		@media #{$mobile-only}{
			margin-top: 40px;
		}
	}

	.book__author,
	.book__description {
		font-family: $oswald;
	}

	.book__container {
		padding-right: 60px;
		@media #{$mobile-only}{
			padding-right: 0;
		}
		h3 {
			margin-bottom: 20px;
		}
	}

	.book__container--wrapper {
		background-color: $white;
		padding: 20px;
		border-left: 16px solid $gray;
		margin-right: 20px;
	}

	.book__list {
		display: flex;
		flex-wrap: wrap;
		&--book {
			margin-top:20px;
		}
	}

	.book__info {
		padding-bottom: 75px;
	}

	.book__link {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.book__links {
		@include linkBar;
		
	}
	
	&.book__new {
		.book__links {
			@include grid-column(6, $center:true);
			padding-left: 0;
			padding-right: 0;
			@media #{$mobile-only}{
				@include grid-column(10);
			}
		}
	}

	.book__author,
	.book__description {
		font-weight: 600;
	}
}