// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
	.group__banner,
	.group__list--image {
		background-color: $primary;
	}

	.group__banner {
		margin-bottom: 40px;
	}

	.group__list--group,
	.group__list--image {
		height: 275px;
	}

	.group__list--image {
		border-left: 1px solid #eee;
	}

	.group__list--group {
		background: $white;
		margin: 20px auto;
	}

	.group__list--info {
		padding: 40px;
	}
}