// Place all the styles related to the group controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.group {
	.group__header,
	.group__members {
		padding-right: 60px;
	}

	.group__members {
		margin-top: 40px;
	}
	
	.group__header--wrapper,
	.group__members--wrapper {
		background-color: $white;
		padding: 20px;
	}
	.group__banner,
	.group__list--image {
		background-color: $primary;
	}

	.group__list--group,
	.group__list--image {
		height: 275px;
	}

	.group__list--image {
		border-left: 1px solid #eee;
	}

	.group__list--group {
		background: $white;
		margin-top: 20px;
	}

	.group__list--info {
		padding: 40px;
	}

	.group__links {
		@include linkBar;
	}

	.group__members--member {
		text-align: center;
		// display: inline-block;
	}

	.group__meetup-location {
		border-top: 1px solid #eee;
	}

	.map__container {
		height: 300px;
		border: 1px solid #eee;
	}
}