// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
	.profile__info {
		background-color: $white;
		padding: 40px;
	}

	.profile__links {
		@include linkBar;
	}
}

.profile__modal {
	padding-right: 60px;

	.profile__modal--wrapper {
		background-color: $white;
		padding: 20px;
	}

	.profile__modal--header {
		margin-bottom: 20px;
	}

	.profile__modal--content {
		.fa {
			margin-right: 8px;
		}
	}
}