// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registration {
	.registration__info {
		background-color: $white;
		padding: 40px;
	}

	.registration__links {
		@include linkBar;
		@include grid-column(6, $center:true);
		padding-left: 0;
		padding-right: 0;
	}
}

.registration__modal {
	padding-right: 60px;

	.registration__modal--inner-wrapper {
		background-color: $white;
		padding: 20px;
		box-shadow: 0px 0px 2px 0px rgba(1,1,1,0.1);
	}

	.registration__modal--header {
		margin-bottom: 20px;
	}

	.registration__modal--content {
		.fa {
			margin-right: 8px;
		}
	}
}