<div class="form__container clearfix">
	<%= form_for @invite , :url => invites_path do |f| %>
		<p>Enter the email of the buddy you would like to invite to this group</p>
		<%= f.hidden_field :group_id, :value => group_id %>
		<%= f.email_field :email, class: "field--float" %>
		<%= f.submit 'Send', class: "button button--float" %>
	<% end %>
</div>

