<div class="group group__edit template--pad">
	<div class="group__header row">
		<h2>Edit Group</h2>
	</div>
	<div class="form__container row">
		<%= render 'groupsForm' %>
	</div>
	<div class="group__links row">
	<%= link_to "Delete group", group_path(@group), method: :delete, data: { confirm: "Are you sure?"} %>
		<%= link_to "Cancel", group_path %>
	</div>
</div>

