<section class="group__new">
	<h2>Make a new Group</h2>
	<div class="form__container">
		<%= render 'groupsForm' %>
	</div>
	<div class="group__new--links">
		<%= link_to "Cancel", groups_path  %>
	</div>
</section>
