<div class="about row template--pad">
	<h2>About Bookbuddies</h2>
	<p>Bookbuddies is an application built by <%= link_to "Robin Hamill", "http://www.robinhamill.ca", class: "primary" %> and <%= link_to "Jessica Jones", "http://www.heyjess.ca/", class: "primary" %> as a part of the Ruby on Rails Development course at <%= link_to "HackerYou", "http://www.hackeryou.ccom", class: "primary" %>.</p>
	<div class="about--container row">
		<div class="about--creator box-shadow">
			<h3>Robin Hamill</h3>
		</div>
		<div class="about--creator box-shadow">
			<h3>Jessica Jones</h3>
		</div>
	</div>

	<h4>Icon Credits</h4>
	<p>Default User Icon by John Hart<br>
	Default Book Icon by Piotrek Chuchla<br>
	Default Group icons by Danilo Gusmão Silveira, Mani Amini, and Creative Stall</p>
	<em>All of the above icons are from <%= link_to "The Noun Project", "http://www.thenounproject.com/", class: "primary" %></em>
</div>

