<section class="book book__edit template--pad">
	<div class="book__header row">
		<h2>Edit book information</h2>
	</div>
	<div class="form__container row">
		<%= render 'booksForm' %>
	</div>
</section>