<h2>All the books</h2>

<%= link_to "Create new Book", new_book_path(group_id: @group.id) %>

<% @books.each do |book| %>
	<div class="book_container">
		<h3><%= link_to book.book_name, book_url(book) %></h3>
		<p>Author: <%= book.author %></p>
		<p>Description: <%= book.description %></p>

	</div>
<% end %>