<h1>Book buddies Group Invitation</h1>

<p>Hey! You've been invited to join a book group on <%= link_to "Book buddies", root_path %></p>
<p>Please accept by clicking the link below</p>



<p>Thanks from the Book buddies team!</p>