<h2>Hey Bookbuddie! You've been added to the group "<%= @invite.group.group_name %>"</h2>

<p>Best part is, you don't have to do anything. You will be automatically added to this group next time you log in to Bookbuddies</p>

<p>The Bookbuddies team!</p>