<h2>This is an example of an invite email</h2>
<p>Functionality isn't quite there, but how cool is it that you can get an email??</p>

<%= @rootURL %><%= new_user_registration_path(:invite_token => @invite.token) %>

<p>The Bookbuddies team!</p>