<h1>Book buddies Group Invitation</h1>

<p>Hell future bookbuddie! You've been invited to join a bookclub group on <%= link_to "Book buddies", root_path %> called "<%= @invite.group.group_name %>"</p>
<p>Click the link below, or copy/paste into a browser. This will take you to the crate a user page.</p>

<%= @rootURL %><%= joins_path(:invite_token => @invite.token) %>

<p>If you have been invited in error or do not wish to join, just ignore and delete this email.</p>

<p>Thanks from the Book buddies team!</p>