footer {
	background-color: $accent;
	background-image: url(asset_path('footer_bg.png'));
	color: $bg;
	padding: 40px;
	.footer--row {
		max-width: 1200px;
	}
	a {
		color: #fdfcfd;
	}

	.footer__link {
		text-transform: uppercase;
		font-family: $oswald;
	}
}