header {
	background-color: $white;
	border-bottom: 1px solid $gray;
	padding-top: 15px;
	.header__nav {
		padding: 28px 0;
	}

	.header__nav--link {
		display: inline-block;
		margin: 0 10px;
		text-transform: uppercase;
		font-family: $oswald;
		a:hover {
			text-decoration: none;
		}
	}
}