header {
	background-color: #24212a;
	border-bottom: 1px solid $gray;
	padding-top: 15px;
	.header__nav {
		padding-top: 37px;
	}

	.header__nav--link {
		display: inline-block;
		margin: 0 10px;
		text-transform: uppercase;
		font-family: $oswald;
		a {
			color: $primary;
			transition: color 0.25s ease-out;
			padding-bottom: 6px;
			&:hover {
				text-decoration: none;
				color: $yellow;
				border-bottom: 4px solid $primary;
			}
		}
	}
}