// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.about {
	padding-left: 20px;
	padding-right: 20px;
	@media #{$mobile-only}{
		padding: 20px;
	}
}

.about--container {
	display: flex;
	justify-content: space-between;
	@media #{$mobile-only}{
		flex-direction: column;
	}
}

.about--creator {
	// @include grid-column(5);
	background-color: $white;
	padding: 20px;
	margin: 20px auto;
	// margin-right: 20px;
	width: calc(50% - 25px);

	.fa {
		transition: all 0.25s ease-out;
		@include font-size(24);
		&:hover {
			color: $primary;
		}
	}

	@media #{$mobile-only}{
		// @include grid-column(12, $center:true);
		padding: 20px;
		width: calc(100% - 25px);
	}
}

.about--creator__headshot {
	width: 60%;
}

.hero {
	background-image: url(asset_path('hero.jpg'));
	background-size: cover;
	padding: 100px 40px;

	p {
		margin: 20px 0;
		font-weight: 600;
		@include font-size(16);
	}
}

.how-to {
	margin: 20px 0;

	a {
		color: $primary;
	}

	@media #{$mobile-only}{
		padding: 0px 40px 40px 40px;
		text-align: center;
	}
}

.how-to__item {
	padding: 40px 0px 20px;
	border-bottom: 10px solid #eee;
}