
@mixin buttonBase {
	display: inline-block;
	appearance: none;
	background: $primary;
	border: none;
	color: $white;
	cursor: pointer;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color .2s ease-out, border-color .2s ease-out;
	line-height: 45px;
	font-size:15px;
	margin: 20px 0;

	&:hover,
	&:focus {
		background: darken($primary, 5);
	}

	&:focus {
		outline: 1;
	}
}

@mixin buttonSize($size) {
	@if $size == 'small' {
		width: 89px;
	}

	@else if $size == 'medium' {
		width: 185px;
	}

	@else if $size == 'large' {
		width: 259px;
	}
}

@mixin button($size: 'large') {
	@include buttonBase;
	@include buttonSize($size);
}

.button {
	@include button;

	&.button--small {
		@include buttonSize('small');
	}

	&.button--medium {
		@include buttonSize('medium');
	}

	&.button--large {
		@include buttonSize('large');
	}

	&.button--full {
		display: block;
		width: 100%;
	}

	&.button--accent {
		background-color: $accent;
		&:hover,
		&:focus {
			background: darken($accent, 5);
		}
	}

	&.button--yellow {
		background-color: $yellow;
		&:hover,
		&:focus {
			background: darken($yellow, 5);
		}
	}

	&.button--red {
		background: $red;
		&:hover,
		&:focus {
			background: darken($red, 5);
		}
	}
	
	// For use when floating next to form inputs
	&.button--float {
		float: left;
		width: auto;
		margin: 0;
		width: 20%;
		height: 50px;
	}

	&.button--full-mobile {
		@media #{$mobile-only} {
			display: block;
			width: 100%;
		}
	}
}