.form__container {	
	.field {
		margin: 10px 0;
		img {
			width: 20%;
		}
	}

	.field--notifications {
		margin-top: 20px;
	}

	.field--float {
		float: left;
		width: 80%;
		height: 50px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.button--float {
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
	}

	.checkbox {
		margin-right: 10px;
		margin-top: 5px;
	}
}