@mixin linkBar {
	background-color: $accentLight;
	margin-bottom: 20px;
	text-align: right;

	a {
		color: $white;
		font-family: $oswald;
		text-transform: uppercase;
		padding: 10px 15px;
		display: inline-block;
		background-color: transparent;
		transition: all 0.2s ease;
		&:hover,
		&:focus {
			background-color: $accent;
		}
	}
}