// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600|Bitter:400,700);

$open:			'Open Sans', sans-serif;
$bitter:		'Bitter', serif;

$copyFont:		$open;
$displayFont:	$bitter;

// Colors
$primary: 		#FFC107;
$darkPrimary: 	#FFA000;
$lightPrimary:	#FFECB3;
$accent:		#4CAF50;
$text:			#212121;
$bg:			#FFFFFF;
$gray:			#EEEEEE;
$red:			#D32F2F;

// Layout
$row:			1200px;
$gutter:		20px;